<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerminalGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TerminalGame.Properties.Settings>
            <setting name="SaveGamePath" serializeAs="String">
                <value>Environment.GetFolderPath(Envorinment.SpecialFolder.ApplicationData)</value>
            </setting>
        </TerminalGame.Properties.Settings>
    </userSettings>
</configuration>